/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav {
    width: 50%; /* Set the width of the nav to 60% of the header */
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Set the ul to flex to display items in a row */
    justify-content: space-between; /* Distribute items evenly */
    width: 100%; /* Ensure the ul takes up the full width of the nav */
}

nav ul li {
    padding: 0 5px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last list item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative; /* Position relative for the button pseudo-element */
    padding: 10px 20px;
    font-family: 'Avenir', sans-serif;
}

nav ul li a.rainbow-button {
    background-image: url('rainbow-pic.png'); /* Set the picture as background */
    background-size:contain; /* Set the background image to contain */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Ensure the background image is not repeated */
    padding: 10px 20px; /* Add padding to make the button clickable */
    font-family: 'Avenir', sans-serif; /* Apply Avenir font */
    text-transform: uppercase; /* Convert text to uppercase */
    border-radius: 10px;
}

/* Main Page Content */
.main-page-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px 90px 0 180px;
    width: 100vh;
}

.main-desc {
    padding: 20px 0;
}

/* Full page */
.page.full-height {
    height: 100vh;
    width: 100vh;
}

.page.full-height {
    display: flex;
    padding: 0 20px; /* 20px padding towards the left and right edges */
  }
  
  .image {
    display: flex;
    flex: 1;
  }
  
  .left-half, .right-half {
    flex: 1;
    padding: 0 10px; /* 20px padding towards the left and right edges */
  }
  
  .left-half img, .right-half img {
    width: 100%;
    height: auto;
  }
  
  

/* Content Section */
.content {
    width: 45%;
    flex: 1; /* Expand to fill available space */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 40px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding: 40px 0;
}

/* Image Section */
.image {
    width: 45%;
    flex: 1; /* Expand to fill available space */
    align-self: flex-start; /* Align the image to the start */
    margin-left: 20px; /* Add margin to create space between text and image */
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 200px; 
    height: auto; 
    margin-right: 10px;
}

/* Brain Image */
.brain-img {
    width: 800px; 
    height: auto; 
}

/* Rainbow Heading */
.rainbow-heading {
    font-size: 4rem; 
    font-weight: 800; 
    background: -webkit-linear-gradient(left, #1499f7, #8A2BE2, #FF69B4); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-top: 0;
}

/* Headings */
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

h1:first-child {
    margin-bottom: 5px; /* Adjust the margin between the two h1 elements */
}

h2 {
    font-size: 28px;
}

/* Paragraphs */
p {
    font-size: 18px;
    font-family: 'Avenir', sans-serif;
}

/* Links */
a {
    color: #fff;
    text-decoration: none;
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    border: 1px solid #d3c2c2;
    border-top: none;
    width: 200px;
    padding: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .dropdown-menu li {
    padding: 5px 0;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .dropdown-menu a:hover {
    color: #fff;
    font-weight: bold;
  }
  